---
{{- if not (eq .Values.tools.argocd.apiToken "") }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kagent.fullname" . }}-argocd-secret
  namespace: {{ include "kagent.namespace" . }}
  labels:
    {{- include "kagent.labels" . | nindent 4 }}
type: Opaque
data:
  apiToken: {{ .Values.tools.argocd.apiToken | default "NA" | b64enc }}
{{- end }}