---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kagent.fullname" . }}-argocd
  namespace: {{ include "kagent.namespace" . }}
  labels:
    {{- include "kagent.labels" . | nindent 4 }}
type: Opaque
data:
  apiToken: {{ .Values.argocd.apiToken | b64enc }}